
@using Fibonacci.Models
@{
    ViewBag.Title = "Calculate";
}

@using (Html.BeginForm("Result","Home"))
{
    <div>
        <h2>@Html.Label(" Enter Fibonacci number")</h2>
        
       <h2>  F(n) = F(n-1) + F(n-2) </h2>



        <h2>@Html.Label("n = ") : @Html.TextBox("num")</h2>


    </div>
   
    <input type="submit" name="Result" value="Calculate Fibonacci" />
}